@use 'hero';
@use './components/infos_bar';
@use './components/button';
@use 'event';
@use 'variables';

* {
    margin: 0; 
    padding: 0;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

body {
    background-image: 
        linear-gradient(rgba(variables.$secondaryTextColor, 0.8), rgba(variables.$secondaryTextColor, 0.8)), 
        url(../images/fundo.png);
    background-size: auto;
    background-repeat: repeat-y;
    position: relative;   
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;    
    }
    
    @media (max-width: 1024px) {
        max-width: 90%;    
    }
}